{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.5.0"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Trigger the GitHub Action to sync notes to Notion.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "properties": {
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "add",
                                                    "update",
                                                    "search",
                                                    "list_recent",
                                                    "batch_update",
                                                    "export",
                                                    "manage_template"
                                                ],
                                                "description": "The action to perform."
                                            },
                                            "payload": {
                                                "type": "string",
                                                "description": "JSON string containing action-specific parameters. \n\nFor 'add': { \"title\": \"...\", \"content\": \"...\", \"category\": \"...\", \"tags\": \"tag1,tag2\", \"template\": \"...\" }\nFor 'update': { \"pageId\": \"...\", \"title\": \"...\", \"content\": \"...\", \"mode\": \"append|replace\" }\nFor 'search': { \"query\": \"...\", \"limit\": \"10\" }\nFor 'list_recent': { \"limit\": \"10\" }\nFor 'batch_update': { \"updates\": [...] }\nFor 'manage_template': { \"subAction\": \"list|get|save\", \"name\": \"...\", \"content\": \"...\" }"
                                            },
                                            "useMarkdown": {
                                                "type": "string",
                                                "enum": [
                                                    "true",
                                                    "false"
                                                ],
                                                "description": "Use Markdown conversion for content. Default is 'true'.",
                                                "default": "true"
                                            },
                                            "autoFormat": {
                                                "type": "string",
                                                "enum": [
                                                    "true",
                                                    "false"
                                                ],
                                                "description": "Auto-format Markdown content for better structure. Default is 'true'.",
                                                "default": "true"
                                            }
                                        },
                                        "required": [
                                            "action"
                                        ]
                                    }
                                },
                                "required": [
                                    "ref",
                                    "inputs"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    }
                }
            }
        }
    }
}