{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Sends a payload to the GitHub Action to add, update, or search notes in Notion.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "properties": {
                                            "payload": {
                                                "type": "string",
                                                "description": "JSON string containing action and parameters. Example: {\"action\": \"add\", \"title\": \"Note Title\", \"content\": \"Note Content\", \"category\": \"Tech\"}"
                                            }
                                        },
                                        "required": [
                                            "payload"
                                        ]
                                    }
                                },
                                "required": [
                                    "ref",
                                    "inputs"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Repository or workflow not found"
                    }
                }
            }
        }
    }
}