{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.6.2"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Trigger the GitHub Action to sync notes to Notion.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "properties": {
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "add",
                                                    "update",
                                                    "search",
                                                    "list_recent",
                                                    "batch_update",
                                                    "export",
                                                    "manage_template"
                                                ],
                                                "description": "The action to perform."
                                            },
                                            "title": {
                                                "type": "string",
                                                "description": "Title of the note. For Book/読書 category, use ONLY the book title without any suffixes like '読書メモ', 'メモ', or 'の読書ノート'."
                                            },
                                            "content": {
                                                "type": "string",
                                                "description": "IMPORTANT: For Book/読書 category, leave this EMPTY or only include user-provided text. DO NOT generate summaries, overviews, or any AI-generated content. The template will be automatically applied. For other categories, this is the content of the note."
                                            },
                                            "category": {
                                                "type": "string",
                                                "enum": [
                                                    "Tech",
                                                    "Travel",
                                                    "Finance",
                                                    "Life",
                                                    "Business",
                                                    "Others",
                                                    "Book",
                                                    "読書"
                                                ],
                                                "description": "Category of the note (for add/update actions)."
                                            },
                                            "tags": {
                                                "type": "string",
                                                "description": "Comma-separated tags (for add/update actions)."
                                            },
                                            "template": {
                                                "type": "string",
                                                "description": "Template name to use when creating a note (for add action)."
                                            },
                                            "subAction": {
                                                "type": "string",
                                                "enum": [
                                                    "list",
                                                    "get",
                                                    "save"
                                                ],
                                                "description": "Sub-action for manage_template: 'list' to list templates, 'get' to retrieve a template, 'save' to save a template."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Template name (for manage_template get/save actions)."
                                            }
                                        },
                                        "required": [
                                            "action"
                                        ]
                                    }
                                },
                                "required": [
                                    "ref",
                                    "inputs"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    }
                }
            }
        }
    }
}