{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Trigger the GitHub Action to sync notes to Notion. Requires specific parameters for adding, updating, or searching notes.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "properties": {
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "add",
                                                    "update",
                                                    "search"
                                                ],
                                                "description": "The action to perform."
                                            },
                                            "title": {
                                                "type": "string",
                                                "description": "Title of the note (Required for 'add', Optional for 'update')."
                                            },
                                            "content": {
                                                "type": "string",
                                                "description": "Content of the note (Required for 'add', Optional for 'update')."
                                            },
                                            "category": {
                                                "type": "string",
                                                "enum": [
                                                    "Tech",
                                                    "Travel",
                                                    "Finance",
                                                    "Life",
                                                    "Business",
                                                    "Others"
                                                ],
                                                "description": "Category of the note (Required for 'add', Optional for 'update')."
                                            },
                                            "tags": {
                                                "type": "string",
                                                "description": "Comma-separated tags (e.g. 'Tag1,Tag2')."
                                            },
                                            "pageId": {
                                                "type": "string",
                                                "description": "Page ID of the note (Required for 'update')."
                                            },
                                            "query": {
                                                "type": "string",
                                                "description": "Search query (Required for 'search')."
                                            },
                                            "replaceContent": {
                                                "type": "string",
                                                "enum": [
                                                    "true",
                                                    "false"
                                                ],
                                                "default": "false",
                                                "description": "Replace existing content instead of appending (for 'update'). Set to 'true' to replace."
                                            }
                                        },
                                        "required": [
                                            "action"
                                        ]
                                    }
                                },
                                "required": [
                                    "ref",
                                    "inputs"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Repository or workflow not found"
                    }
                }
            }
        }
    }
}