{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.7.0"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Trigger the GitHub Action to sync notes to Notion.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "ref",
                                    "inputs"
                                ],
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "required": [
                                            "action"
                                        ],
                                        "properties": {
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "add",
                                                    "update",
                                                    "search",
                                                    "list_recent",
                                                    "batch_update",
                                                    "export",
                                                    "manage_template"
                                                ],
                                                "description": "The action to perform."
                                            },
                                            "title": {
                                                "type": "string",
                                                "description": "Title of the note. For Book category, use ONLY the book title."
                                            },
                                            "content": {
                                                "type": "string",
                                                "description": "Content of the note. For Book category, leave EMPTY."
                                            },
                                            "category": {
                                                "type": "string",
                                                "enum": [
                                                    "Tech",
                                                    "Travel",
                                                    "Finance",
                                                    "Life",
                                                    "Business",
                                                    "Others",
                                                    "Book"
                                                ],
                                                "description": "Category of the note."
                                            },
                                            "tags": {
                                                "type": "string",
                                                "description": "Comma-separated tags."
                                            },
                                            "mode": {
                                                "type": "string",
                                                "enum": [
                                                    "append",
                                                    "replace"
                                                ],
                                                "description": "Update mode for content."
                                            },
                                            "section": {
                                                "type": "string",
                                                "description": "Target section name for update action."
                                            },
                                            "template": {
                                                "type": "string",
                                                "description": "Template name to use."
                                            },
                                            "subAction": {
                                                "type": "string",
                                                "enum": [
                                                    "list",
                                                    "get",
                                                    "save"
                                                ],
                                                "description": "Sub-action for manage_template."
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Template name for manage_template."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    }
                }
            }
        }
    }
}