{
    "openapi": "3.1.0",
    "info": {
        "title": "Notion Second Brain Sync",
        "description": "Sync notes to Notion via GitHub Actions.",
        "version": "1.5.1"
    },
    "servers": [
        {
            "url": "https://api.github.com"
        }
    ],
    "paths": {
        "/repos/pnwat/notion-second-brain/actions/workflows/sync.yml/dispatches": {
            "post": {
                "operationId": "triggerSync",
                "summary": "Trigger the sync workflow",
                "description": "Trigger the GitHub Action to sync notes to Notion.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "ref": {
                                        "type": "string",
                                        "default": "master",
                                        "description": "The branch to run the workflow on."
                                    },
                                    "inputs": {
                                        "type": "object",
                                        "properties": {
                                            "action": {
                                                "type": "string",
                                                "enum": [
                                                    "add",
                                                    "update",
                                                    "search",
                                                    "list_recent",
                                                    "batch_update",
                                                    "export",
                                                    "manage_template"
                                                ],
                                                "description": "The action to perform."
                                            },
                                            "payload": {
                                                "type": "string",
                                                "description": "IMPORTANT: This must be a JSON string (not a plain object). Stringify the parameters object before sending.\n\nExamples:\n- For 'add': \"{\\\"title\\\":\\\"My Note\\\",\\\"content\\\":\\\"Note content\\\",\\\"category\\\":\\\"Tech\\\"}\"\n- For 'manage_template' save: \"{\\\"subAction\\\":\\\"save\\\",\\\"name\\\":\\\"daily\\\",\\\"content\\\":\\\"# Template {{date}}\\\"}\"\n- For 'manage_template' list: \"{\\\"subAction\\\":\\\"list\\\"}\"\n- For 'search': \"{\\\"query\\\":\\\"keyword\\\",\\\"limit\\\":\\\"10\\\"}\"\n\nAvailable parameters:\n- title, content, category, tags (for add/update)\n- template (for add, to use a template)\n- pageId, mode (for update)\n- query, limit (for search/list_recent)\n- subAction, name, content (for manage_template)\n- updates (for batch_update)"
                                            },
                                            "useMarkdown": {
                                                "type": "string",
                                                "enum": [
                                                    "true",
                                                    "false"
                                                ],
                                                "description": "Use Markdown conversion for content. Default is 'true'.",
                                                "default": "true"
                                            },
                                            "autoFormat": {
                                                "type": "string",
                                                "enum": [
                                                    "true",
                                                    "false"
                                                ],
                                                "description": "Auto-format Markdown content for better structure. Default is 'true'.",
                                                "default": "true"
                                            }
                                        },
                                        "required": [
                                            "action"
                                        ]
                                    }
                                },
                                "required": [
                                    "ref",
                                    "inputs"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Workflow triggered successfully"
                    }
                }
            }
        }
    }
}